OPENROUTER_API_KEY=your_openrouter_api_key_here
LANGFUSE_SECRET_KEY=your_langfuse_secret_key_here
LANGFUSE_PUBLIC_KEY=your_langfuse_public_key_here
# LANGFUSE_HOST="https://cloud.langfuse.com" # 🇪🇺 EU region
LANGFUSE_HOST=https://us.cloud.langfuse.com # 🇺🇸 US region
QDRANT_PATH=./qdrant
QDRANT_COLLECTION=bbc
TOKENIZERS_PARALLELISM=false
#SUPABASE_POSTGRES_URI=postgresql://postgres.[PROJECT_REF]:[PASSWORD]@[HOST]:5432/postgres
SUPABASE_POSTGRES_URI=postgresql://postgres.[PROJECT_REF]:[PASSWORD]@[HOST]:6543/postgres
SUPABASE_COLLECTION=bbc_news
SUPABASE_DIMENSION=1024
SUPABASE_REBUILD=false
FIRECRAWL_API_KEY=your_firecrawl_api_key_here